<p>creer-tournoi works!</p>
<form (ngSubmit)="onClickSubmit()">
    <label>Date: </label>
    <input type="date" name="date" [(ngModel)]="tournoi.date" required><br>
  
    <label>Niveau de compétition: </label>
    <select id="niveauCompet" name="niveauCompet" [(ngModel)]="tournoi.niveauCompet" required>
        <option value="debutant">débutant</option>
        <option value="intermédiaire">intermédiaire</option>
        <option value="confirmé">confirmé</option>
        <option value="pro">pro</option>
      </select><br>  
    <label>Catégorie: </label>
    <select id="mixte" name="mixte" [(ngModel)]="tournoi.categorie" required>
        <option value="mixte">mixte</option>
      </select><br>  
  
    <label>Durée maximale: </label>
    <input type="number" name="dureeMax" [(ngModel)]="tournoi.dureeMax" required><br>
  
    <label>id du lieu: </label>
    <input type="text" name="idLieu" [(ngModel)]="tournoi.idLieu" required><br>
    <br>
  
    <label>Equipement:</label><br>
    <label>Nombres de balles : </label>
    <input type="number" name="nbBalles" [(ngModel)]="tournoi.equipement.nbBalles" required><br>
    <label>Nombres de tables : </label>
    <input type="number" name="nbTables" [(ngModel)]="tournoi.equipement.nbTables" required><br>
    <label>Nombres de marqueurs : </label>
    <input type="number" name="nbMarqueurs" [(ngModel)]="tournoi.equipement.nbMarqueurs" required><br>
    <label>Nombres de filets : </label>
    <input type="number" name="nbFilets" [(ngModel)]="tournoi.equipement.nbFilets" required><br>
    <label>Nombres de Raquettes : </label>
    <input type="number" name="nbRaquettes" [(ngModel)]="tournoi.equipement.nbRaquettes" required><br>
  
    <button type="submit">Valider</button>
    <div *ngIf="message">{{message}}</div>
  </form>